body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

}



.container {

    max-width: 500px;

    margin: 50px auto;

    padding: 20px;

    background: linear-gradient(135deg, #FF6B6B, #7B68EE);

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h1 {

    color: #fff;

    text-align: center;

}

.input-group {

    margin-bottom: 20px;

    display: flex;

    justify-content: space-between;

}

.input-group input[type="text"], .input-group input[type="date"] {

    flex: 1;

    padding: 10px;

    margin-right: 10px;

    border-radius: 5px;

    border: none;

}

.input-group button {

    padding: 10px 20px;

    border: none;

    background-color: #4CAF50;

    color: #fff;

    border-radius: 5px;

    cursor: pointer;

}

.input-group button:hover {

    background-color: #45a049;

}

ul {

    list-style-type: none;

    padding: 0;

}

li {

    background-color: #fff;

    padding: 10px;

    border-radius: 5px;

    margin-bottom: 10px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.task-text {

    flex-grow: 1;

    font-weight: bold;

}

.icons {

    display: flex;

    align-items: center;

}

.icon {

    margin-left: 10px;

    color: #333;

    cursor: pointer;

    transition: color 0.3s ease;

}

.icon:hover {

    color: #FF6B6B;

}

.task-done {

    text-decoration: line-through;

    color: #888;

}